@tailwind base;
@tailwind components;
@tailwind utilities;

.blockdata-list-item {
 @apply  w-full flex justify-between border-t-[1px] border-black py-[5px];
}

.results-container {
    @apply w-10/12 lg:w-6/12 h-full flex flex-col;
}

.result-icon {
    @apply  w-[85px] h-[85px] sm:h-[125px] sm:w-[125px];
}

.back-icon {
    @apply  w-[35px] h-[35px] sm:h-[50px] sm:w-[50px] mt-[20px];
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* for removing autocomplete blue highlight */

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #00ffffff inset !important;
} */
